pretrained
taco/build
__pycache__/
taco_kernel.c
taco_kernel.so
bin/
waco_dataset/*.csr
build/
CollectedData*
hnsw_schedule.bin
*.npy
dataset/total_dataset/
epyc_7543/
xeon_platinum8272cl/
*.pt
*.pth
python/AutoSparse/cost_model/log*/